* {
  margin: 0;
  padding: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  text-decoration: none;
}
:root {
  --orange: #ffd560;
  --skin: #fff0c6;
  --black: #0c0f13;
  --red: #ee4266;
  --pink: #f2718c;
}
a {
  color: var(--orange);
}
a:hover {
  color: var(--skin);
}
body {
  padding: 1rem;
  max-width: 600px;
  margin: 0 auto;
  background: #0c0f13 url(images/chris-coyier.jpg) no-repeat bottom 2rem left;
  background-size: 250px;
  background-attachment: fixed;
  color: #ccc;
  display: flex;
  justify-content: center;
}
main {
  width: 550px;
  height: 200px;
  display: flex;
  align-items: center;
  flex-direction: column;
}
h3 {
  color: white;
}
#italic {
  font-style: italic;
}
h1 {
  font-size: 68px;
  line-height: 54px;
  font-weight: 800;
  text-transform: uppercase;
  color: var(--orange);
  margin: 0.3em 0 0.3em 0;
}
h1 a {
  color: inherit;
}
nav {
  width: 400px;
}
ul {
  display: flex;
  justify-content: space-between;
}
li {
  list-style-type: none;
  font-size: 20px;
  line-height: 20px;
  font-weight: 400;
  color: var(--orange);
  text-decoration: underline;
}
li a {
  color: inherit;
  font-size: inherit;
}
main .content {
  width: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 3em;
}
p {
  width: 500px;
  font-size: 20px;
  line-height: 27px;
  font-weight: 400;
  margin-bottom: 1em;
}
.content .todo {
  width: inherit;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.todo h3 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 800;
  text-transform: uppercase;
  color: white;
}
.todo .card {
  width: 550px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2em;
  padding-top: 1em;
  background-color: var(--orange);
}
.card p {
  width: 465px;
  font-size: 28px;
  font-weight: 400;
  line-height: 42px;
  color: var(--black);
}
.card a {
  font-size: 28px;
  font-weight: 800;
  line-height: 42px;
  color: var(--red);
}
.card a:hover {
  color: var(--pink);
}
.content .videoSec {
  height: 550px;
  width: inherit;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.videoSec h1 {
  font-size: 35px;
  line-height: 45px;
  font-weight: 800;
  color: white;
}
footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 30px;
  width: 100%;
  text-align: center;
  background: rgba(0, 0, 0, 0.9);
  padding: 0.5rem 0.1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
footer ul {
  width: 550px;
}
footer li {
  font-size: 1rem;
}
footer li a {
  text-decoration: none;
}
